<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body layout:fragment="content">
  <div class="container">

    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary m-2" onclick="history.back()">돌아가기</button>

    <!--  게시글 수정, 삭제  -->
      <div th:if="${board.user.username.equals(#authentication.getName())}">
        <a th:href="@{/board/{id}/updateForm(id=${board.id})}" class="btn btn-warning">수정</a>
        <button id="btn-delete" class="btn btn-danger m-2">삭제</button>
      </div>

      <br/><br/>
    </div>

    <div>
      <span id="id" th:text="${board.id}"></span>
      <h4 th:utext="'<small>작성자: </small><b>'+${board.user.nickName}+'</b>'"></h4>
      <small th:text="${board.createDate}"></small>
    </div>

    <hr/>

    <div>
      <h3 th:utext="${board.title}"></h3>
    </div>

    <hr/>

    <div>
      <div th:utext="${board.content}"></div>
    </div>


  </div>
  <script src="/js/board.js"></script>
</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>