<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body layout:fragment="content">
  <div class="container">

    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary m-2" onclick="history.back()">돌아가기</button>
      <button id="btn-update" class="btn btn-warning m-2">수정</button>
      <button id="btn-delete" class="btn btn-danger m-2">삭제</button>
      <br/><br/>
    </div>

    <div>
      <h4 th:utext="'<small>작성자: </small><b>'+${board.user.nickName}+'</b>'"></h4>
      <small th:text="${board.createDate}"></small>
    </div>

    <hr/>

    <div>
      <h3 th:utext="${board.title}"></h3>
    </div>

    <hr/>

    <div>
      <div th:utext="${board.content}"></div>
    </div>


  </div>

</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>