<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body layout:fragment="content">

<div class="container">

  <form class="was-validated">
    <input type="hidden" id="id" th:value="${board.id}"/>

    <div class="form-group">
      <label for="title">제목:</label>
      <input th:value="${board.title}" type="text" class="form-control" id="title" placeholder="Enter title" required>
    </div>

    <div class="form-group">
      <label for="content">내용: </label>
      <textarea class="form-control summernote" id="content" rows="5" th:text="${board.content}"></textarea>
    </div>
  </form>

  <button id="btn-update" class="btn btn-primary">수정</button>
  <button class="btn btn-secondary m-2" onclick="history.back()">취소</button>
</div>

<script>
      $('.summernote').summernote({
        tabsize: 2,
        height: 300
      });
    </script>
<script src="/js/board.js"></script>
</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>