{{>layout/header}}

<div class="container">
    <h2>회원가입</h2>
<!--    <p>In this example, we use <code>.was-validated</code> to indicate what's missing before submitting the form:</p>-->
    <form action="/action_page.php" class="was-validated">
        <div class="form-group">
            <label for="joinId">아이디:</label>
            <input type="text" class="form-control" id="joinId" placeholder="Enter your Id" name="joinId" required>
        </div>
        <div class="form-group">
            <label for="nickName">닉네임:</label>
            <input type="text" class="form-control" id="nickName" placeholder="Enter your nickname" name="nickName" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        
        <button type="submit" class="btn btn-primary">회원가입</button>

    </form>
</div>


{{>layout/footer}}