<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head.html -->
<th:block th:replace="layout/head::headFragment"></th:block>

<!-- layout/header.html -->
<header th:replace="layout/header::headerFragment"></header>

<body layout:fragment="content">
    <!-- content -->
    <div class="container">

        <section th:each="boards : ${boards.content}">
            <div class="card m-2">
                <div class="card-header">
                    <h6 class="card-title" th:utext="${'<small>작성자: </small>' + boards.user.username}"></h6>
                    <h4 class="card-title" th:text="${boards.title}">제목</h4>
                </div>
                <div class="card-body">
                    <a th:href="@{/board/{id}(id=${boards.id})}" class="btn btn-primary">상세보기</a>
                </div>
                <div class="card-footer text-muted" th:text="${boards.createDate}">
                    작성 시간
                </div>
            </div>
        </section>

        <ul class="pagination justify-content-center">
            <div th:if="${boards.first}">
                <li class="page-item disabled"><a class="page-link" th:href="@{?page={number}(number=${boards.number-1})}">이전</a></li>
            </div>
            <div th:unless="${boards.first}">
                <li class="page-item"><a class="page-link" th:href="@{?page={number}(number=${boards.number-1})}">이전</a></li>
            </div>

            <div th:if="${boards.last}">
                <li class="page-item disabled"><a class="page-link" th:href="@{?page={number}(number=${boards.number+1})}">다음</a></li>
            </div>
            <div th:unless="${boards.last}">
                <li class="page-item"><a class="page-link" th:href="@{?page={number}(number=${boards.number+1})}">다음</a></li>
            </div>
        </ul>
<!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->

    </div>
</body>

<!-- layout/footer.html -->
<footer th:replace="layout/footer::footerFragment"></footer>